---
import ContainerCenter from "@components/ContainerCenter.astro";
import { Image } from "astro:assets";
import imgProductsMagSafe from "@assets/banner-magsafe/products-magsafe.png";
import LinkButton from "@components/LinkButton.astro";
---

<section
  class="bg-servitec-graySection flex justify-center items-center w-full min-h-[70vh]"
>
  <ContainerCenter
    class="flex flex-col text-center laptop:flex-row laptop:text-left"
  >
    <aside
      class="gap-4 flex flex-col justify-center items-center laptop:w-1/2 laptop:items-start"
    >
      <h2
        class="font-semibold text-4xl tracking-tight leading-10 laptop:text-[5rem] text-wrap laptop:leading-none laptop:w-full"
        data-aos="fade"
      >
        MagSafe. Combinaciones incre칤bles.
      </h2>
      <p class="laptop:text-left text-xl m-0 laptop:text-2xl" data-aos="fade">
        A침adele a tu dispositivo una funda, una cartera o un cargador
        al치mbrico/inal치mbrico.{" "}
      </p>
      <LinkButton
        url="https://drive.google.com/file/d/11hThknDbDiQxv5wgVwM1dPBEbYelLlCr/view?usp=drive_links"
      >
        游댠 춰Descubre lo que todos est치n buscando!
      </LinkButton>
    </aside>

    <aside
      class="flex justify-center items-center overflow-hidden laptop:w-1/2"
      data-aos="fade"
    >
      <Image
        src={imgProductsMagSafe}
        alt="image Products MagSafe.png"
        class="w-full h-full overflow-hidden object-cover laptop:w-full laptop:h-full"
      />
    </aside>
  </ContainerCenter>
</section>
