---

import ContainerCenter from "@components/ContainerCenter.astro"
// import {productsBrands} from "@data/dataInfo"
import { Icon } from "astro-icon/components"
// import { Image } from "astro:assets"
const iconBrands = ["elegate", "ios", "kingston-3", "moreka", "motorola", "samsung", "stylos", "tplink"]
---

<div
  class="flex items-center w-full justify-center px-6 laptop:px-0 "
>
  <ContainerCenter class="flex w-full h-fit rounded-xl">
    <div class="relative overflow-hidden flex">
      <!-- Fade izquierdo -->
      <div class="pointer-events-none absolute left-0 top-0 h-full w-10 bg-gradient-to-r from-white via-white/80 to-transparent z-10"></div>

      <!-- Fade derecho -->
      <div class="pointer-events-none absolute right-0 top-0 h-full w-10 bg-gradient-to-l from-white via-white/80 to-transparent z-10"></div>

      <div class="flex gap-5 pr-5 group-icons flex-[0_0_100%]">
        {
          iconBrands.map((icon) => (
            <div class="w-full h-full justify-center items-center">
              <Icon
                name={icon}
                class="w-[7rem] h-[7rem] justify-center items-center"
              />
            </div>
          ))
        }
      </div>
      <div aria-hidden class="flex gap-5 pr-5 group-icons flex-[0_0_100%]">
        {
          iconBrands.map((icon) => (
            <div class="w-full h-full justify-center items-center">
              <Icon
                name={icon}
                class="w-[7rem] h-[7rem] justify-center items-center"
              />
            </div>
          ))
        }
      </div>
    </div>
  </ContainerCenter>
</div>