---
import Carousel from "@components/Carousel.astro";
import CardIncentive from "@components/CardIncentive.astro";
import { incentives } from "@data/incentives";
---

<section class="min-h-screen text-center my-4 bg-servitec-graySection pt-12">
  <header class="text-start laptop:w-4/5 m-auto px-5 laptop:p-0">
    <h2
      class="text-4xl font-semibold tracking-tight leading-none laptop:text-6xl"
      data-aos="fade"
    >
      Descubre por qué somos el mejor lugar para comprar tus productos
      electrónicos.
    </h2>
  </header>

  <Carousel carouselId="incentives-carousel" class="gap-4">
    {incentives.map((incentive) => <CardIncentive incentive={incentive} />)}
  </Carousel>
</section>
