---
import { twMerge } from "tailwind-merge";

const defaultMessage = `隆Hola!  Me gustar铆a solicitar sus servicios de mantenimiento para equipos de c贸mputo y celulares.

Por favor, ind铆quenme c贸mo proceder o si necesitan m谩s detalles sobre los equipos.

Gracias y quedo atento a su respuesta.`;

const defaultTitle = "+Informaci贸n";

const {
  message = defaultMessage,
  title = defaultTitle,
  className,
} = Astro.props;

const whatsappLink = `https://wa.me/525656401126?text=${encodeURIComponent(message)}`;
---

<a
  href={whatsappLink}
  target="_blank"
  rel="noopener noreferrer"
  aria-label={`Abrir conversaci贸n en WhatsApp con el mensaje: ${title}`}
  class={twMerge(
    "flex justify-center items-center bg-black hover:bg-gray-800 text-white rounded-md px-8 py-2 font-medium transition-all duration-300 ease-in-out transform hover:shadow-lg",
    className
  )}
>
  {title}
</a>
