---
import type { HTMLAttributes } from "astro/types";
import { twMerge } from "tailwind-merge";

// create interface with extends HTMLAttributes<"section">
interface Props extends HTMLAttributes<"section"> {}

const { class: className } = Astro.props;
---

<section
  class={twMerge("laptop:w-[80%] py-12 overflow-hidden px-6", className)}
>
  <slot />
</section>
