---
import { Icon } from "astro-icon/components";
---
<a class="fixed bottom-5 right-5 laptop:bottom-10 laptop:right-10 flex h-16 w-16 z-40" href="https://wa.me/+5656401126" target="_blank">
    <span class="absolute inline-flex h-16 w-16 animate-ping rounded-full bg-green-400 opacity-75"></span>
    <span class="relative flex justify-center items-center p-2 h-16 w-16 rounded-full bg-green-500 hover:scale-110">
      <Icon name="whatsapp" class="w-12 h-12 text-white" />
    </span>
  </a>