---
import { twMerge } from "tailwind-merge";

const { className, url, isTarget = true } = Astro.props;
const hasContent = Astro.slots.default;
const isExternal = isTarget && url && !url.startsWith("#");
---

<a
  href={url}
  target={isTarget ? "_blank" : undefined}
  rel={isExternal ? "noopener noreferrer" : undefined}
  role="link"
  aria-label={hasContent ? undefined : "Mirar productos"}
  data-aos="fade"
  class={twMerge(
    "text-base sm:text-lg px-6 sm:px-8 py-2 laptop:py-3 rounded-md transition-all duration-300 laptop:hover:cursor-pointer bg-black flex items-center justify-center text-white hover:bg-slate-800 w-auto focus-visible:outline  focus-visible:outline-servitec-700",
    className
  )}
>
  <span class="ml-2">
    <slot> Mirar productos </slot>
  </span>
</a>
