<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<!-- ETIQUETA DE INDEXACION DE GOOGLE -->
		<meta name="google-site-verification" content="tX6i_pdVKyfP5v5D7iJryh1wFAGzMapprVrq1URW-Ho" />
		<meta name="viewport" content="width=device-width" />
		<!-- 1 - title -->
		<title>Servitec Halachó | Electrónica, Reparación de Celulares y Videovigilancia en Yucatán</title>

		<!-- 2 - base : Define la URL base para evitar errores con rutas relativas. Mejora la coherencia y el rastreo por los bots. -->
		<base href="https://servitec-halacho.netlify.app/">

		<!-- 3 - link -->
		<link rel="canonical" href="https://servitec-halacho.netlify.app/" />
		<link rel="icon" type="image/png" href="/logo-servitec-96x96.png" sizes="96x96" />
  	<link rel="icon" type="image/svg+xml" href="/logo-servitec.svg" />
  	<link rel="shortcut icon" href="/logo-servitec.ico" />
  	<link rel="apple-touch-icon" sizes="180x180" href="/logo-servitec-apple-touch-icon.png" />
  	<link rel="manifest" href="/site.webmanifest" />

		<!-- 4 - style -->
		
		<!-- 5 - meta -->
  	<meta name="apple-mobile-web-app-title" content="Servitec" />
		<meta name="description" content="En Servitec Halachó encontrarás todo lo que necesitas en tecnología: venta de productos electrónicos especializados para iPhone, dispositivos electrónicos comunes, instalación profesional de cámaras de videovigilancia, extensores de WiFi y servicio técnico confiable en mantenimiento de computadoras y reparación de celulares. Atención personalizada en Halachó, Yucatán." />

		<meta name="keywords" content="Servitec Halachó, electrónica Yucatán, reparación de iPhone, cámaras de seguridad, mantenimiento de computadoras, extensores WiFi, celulares, venta, tecnología, calidad, garantía, servicio, técnico, reparación, soporte, técnico, informático, informática, computación, computador, computadora, laptop, pc, portátil" />
		
		<meta name="author" content="Servitec Halachó" />
		<meta name="robots" content="index, follow" />
		
		<meta property="og:url" content="https://servitec-halacho.netlify.app/" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="Servitec Halachó | Electrónica, Reparación de Celulares y Videovigilancia en Yucatán" />
		<meta property="og:description" content="En Servitec Halachó encontrarás todo lo que necesitas en tecnología: venta de productos electrónicos especializados para iPhone, dispositivos electrónicos comunes, instalación profesional de cámaras de videovigilancia, extensores de WiFi y servicio técnico confiable en mantenimiento de computadoras y reparación de celulares. Atención personalizada en Halachó, Yucatán." />

		<meta property="og:image" content="https://servitec-halacho.netlify.app/assets/Portada-servitec.png" />
		<meta property="og:locale" content="es_MX" />

		<!-- Twitter Card meta tags -->
		<!-- <meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content="Servitec Halachó | Tecnología, Reparación y Videovigilancia" />
		<meta name="twitter:description" content="Venta de electrónicos, reparación de celulares, instalación de cámaras de seguridad y más en Halachó, Yucatán." />
		<meta name="twitter:image" content="https://servitechalacho.com/images/og-image.jpg" />
		<meta name="twitter:site" content="@TuUsuarioTwitter" />
		<meta name="twitter:creator" content="@TuUsuarioTwitter" /> -->
		<!-- 6 - script -->
		<!-- 7 - noscript -->
		<noscript>
			<p>Para una mejor experiencia, habilita JavaScript en tu navegador.</p>
		</noscript>
		<!-- 8 - template -->
		<!-- // Favicon -->
  
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	</head>
	<body>
		<slot />
	</body>
</html>

